@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body{
    background-image: url("img/bg-type-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
footer{
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    background-color: thistle;
    background-blend-mode:soft-light;
}
.copyright{
    color:slateblue;
    background: transparent;
    font-family: 'Bebas Neue', cursive;
    font-size: 2vw;
}
nav{
    display: flex;
}
.comp-logo{
    display: flex;
    /* align-items: center; */
    background: transparent;
}
.comp-logo img{
    /* width: 12vw; */
    height: 18vh;
    background: transparent;
}
header{
    background: transparent;
}
nav ul{
    height: 6vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    padding: 5vh 1vw;
}
nav ul li{
    padding: 1vh 1.5vw;
    background: transparent;
    border-radius: 5px;
    list-style: none;
}
nav ul li:hover{
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', cursive;
    background: transparent;
    font-size: 1.35vw;
    padding: 1vh 0;
}
nav ul li a:hover{
    font-size: 1.5vw;
    color: teal;
}
main{
    min-height: calc(100vh - 6vh - 12vh);
    background: transparent;
}
.main-page1{
    display: flex;
    align-items: flex-start;
    background: transparent;
}
.left1{
    background: transparent;
    display: flex;
    padding: 0 3vw 5vh 3vw;
    flex-direction: column;
    width: 50vw;
}
.right1{
    background: transparent;
    display: flex;
    justify-content: center;
    padding: 2vh 3vw;
}
.right1 img{
    width: 40vw;
    border-radius: 10px;
}
.left1 h1{
    background: transparent;
    color: white;
    padding: 2vh 0 0 5vw;
    font-size: 4vw;
    font-family: 'Lobster', cursive;
}
.left1 p{
    background: transparent;
    color: white;
    padding: 0 0 3vh 5vw;
    font-size: 1.5vw;
    font-family: 'Abril Fatface', cursive;
}
.main-page2{
    display: flex;
    align-items: flex-start;
    background: transparent;
}
.right2{
    background: transparent;
    display: flex;
    padding: 0 3vw 5vh 3vw;
    flex-direction: column;
    width: 50vw;
}
.left2{
    background: transparent;
    display: flex;
    justify-content: center;
    padding: 2vh 3vw;
}
.left2 img{
    background: transparent;
    width: 40vw;
    border-radius: 10px;
}
.right2 h1{
    background: transparent;
    color: white;
    padding: 0 0 0 5vw;
    font-size: 4vw;
    font-family: 'Lobster', cursive;
}
.right2 p{
    background: transparent;
    color: white;
    padding: 0 0 3vh 5vw;
    font-size: 1.5vw;
    font-family: 'Abril Fatface', cursive;
}
.sub-menu{
    display: none;
}
nav ul li:hover .sub-menu{
    display:inline-flex;
    flex-direction: column;
}


